## list

### collection of different items
#### two ways of representation

In [1]:
a = list()
type(a)

list

In [2]:
b = []
type(b)

list

In [3]:
len(a)

0

In [4]:
len(b)

0

In [5]:
a = [10,20,40,60]

In [6]:
len(a)

4

# list is muttable
## it can be chaged using function(method)
### append(items) to added the item at the end

In [8]:
a.append(50)
a

[10, 20, 40, 60, 50]

In [10]:
a.append()

TypeError: append() takes exactly one argument (0 given)

In [11]:
b = ['sai','lakshmi']

In [12]:
a.append(b)
a

[10, 20, 40, 60, 50, ['sai', 'lakshmi']]

In [13]:
len(a)

6

In [14]:
a[5]

['sai', 'lakshmi']

In [16]:
type(a[5])

list

In [17]:
a[-2]

50

In [18]:
a[100]

IndexError: list index out of range

In [19]:
a[100]=0

IndexError: list assignment index out of range

In [20]:
a[0]=10

In [21]:
a

[10, 20, 40, 60, 50, ['sai', 'lakshmi']]

In [22]:
a[0]=2000

In [23]:
a

[2000, 20, 40, 60, 50, ['sai', 'lakshmi']]

In [24]:
a[5][1] = 'ram'

In [25]:
a

[2000, 20, 40, 60, 50, ['sai', 'ram']]

In [26]:
a[5].append('sairam')

In [27]:
a

[2000, 20, 40, 60, 50, ['sai', 'ram', 'sairam']]

## extend method is adds two list as one list with out any sublist

In [29]:
a = [10,20,30]
b = [40,50]
a.extend(b)
a

[10, 20, 30, 40, 50]

In [30]:
student = [['gandhi',90,50,60],['kasthuri',50,90,80],['parvathi',90,90,90]]

## count(item) for find number of times the item repeated

In [31]:
a= [10,20,30,40,10,0,20]

In [32]:
a.count(10)

2

In [33]:
a = [10,[20,10],10]

In [34]:
a.count(20)

0

## clear() empties the list

In [35]:
a = [10,20,30]

In [36]:
a.clear()

In [37]:
a

[]

In [38]:
dir(list)  ## to the method os the any thing

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
a.clear()

In [40]:
a

[]

## copy() to clown a list for backup but they are not same(only copies not reffers)

In [49]:
a = [10,30]
b = a
b

[10, 30]

In [52]:
a.append(10)
print(a,b)

[10, 30, 10, 10] [10, 30, 10, 10]

In [53]:
b=a.copy()

In [54]:
a.append(10)
print(a,b)

[10, 30, 10, 10, 10] [10, 30, 10, 10]

### index(item)

In [55]:
a = [10,20,30]
a.index(10)

0

In [56]:
a = [10,10,20,30]
a.index(10)

0

In [57]:
a=[10,20,30]
a.index(40)

ValueError: 40 is not in list

### insert(index,item) inserts at desired index

In [58]:
a = [10,20,30,40]

In [59]:
a.insert(2,100)
a

[10, 20, 100, 30, 40]

In [62]:
a.insert(10,1000)  ## if index is not availble in will inserts at end

In [63]:
a

[10, 20, 100, 30, 40, 1000, 1000]

### pop(index) remove element at given index and return the removed value

In [67]:
a.pop()

1000

In [68]:
a

[10, 20, 100, 30, 40, 1000]

In [69]:
a.pop(2)

100

In [70]:
a

[10, 20, 30, 40, 1000]

In [71]:
a.pop(20)

IndexError: pop index out of range

In [73]:
[].pop()

IndexError: pop from empty list

## remove(item)  removes item in the list

In [74]:
a = [10,20,30]

In [75]:
a.remove(10)

In [76]:
a

[20, 30]

In [77]:
a.remove(10)

ValueError: list.remove(x): x not in list

In [78]:
[].remove(10)

ValueError: list.remove(x): x not in list

## reverse() reverse the order of the list

In [79]:
a = [10,20,30,40]
a.reverse()
a

[40, 30, 20, 10]

## sort()  defualt acending order or we may use a keyword reverse=True

In [80]:
a.sort()

In [81]:
a

[10, 20, 30, 40]

In [82]:
a.reverse()

In [83]:
a

[40, 30, 20, 10]

In [84]:
a = [10,20,30,40]

In [85]:
a.sort(reverse=True)

In [86]:
a

[40, 30, 20, 10]

### these all called  using list as reference

## if we use reference then they are "methods"
## without reference then they are "functions"

In [87]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## slicing

In [88]:
a = [10,20,30,40,50,60]

In [89]:
a[0:]

[10, 20, 30, 40, 50, 60]

In [90]:
a[0:5]

[10, 20, 30, 40, 50]

In [91]:
a[0:10]

[10, 20, 30, 40, 50, 60]

In [92]:
marks=sum(student[1][1:])

In [93]:
marks

220

In [95]:
a[1::2] ## 2 is step value

[20, 40, 60]

In [96]:
a[::2]## addes from 0 ,(0+2),(0+4)

[10, 30, 50]

In [98]:
a[::-1]  ## prints in reveres order

[60, 50, 40, 30, 20, 10]

## tuples
 collection of items and immutable

In [99]:
a = ()

In [100]:
type(a)

tuple

In [101]:
a = (10,20,30)

In [102]:
a

(10, 20, 30)

In [103]:
a[1],a[2],a[0]

(20, 30, 10)

In [104]:
a[10]

IndexError: tuple index out of range

In [106]:
a[0]=10 ## it cann't do item assignment because it is immutable

TypeError: 'tuple' object does not support item assignment

In [107]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## count()

In [108]:
a.count(100)

0

## no copy becouse it would no change so no backup required

### index(item)

In [109]:
a.index(10)

0

In [110]:
a.index(100)

ValueError: tuple.index(x): x not in tuple

In [116]:
a = (10,20,30,40,50,60)
min(a)

10

In [117]:
max(a)

60

In [118]:
sum(a)

210

In [119]:
len(a)

6

In [120]:
a[1::2]

(20, 40, 60)

In [122]:
a[4:1:-1]

(50, 40, 30)

In [123]:
a[1:4][::-1]

(40, 30, 20)

In [124]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### startswith(sub_string) cheaks starts original string starts with substring or not

In [127]:
name = 'python program'
name.startswith('python')

True

In [128]:
name.startswith('Python')

False

## endswith(sub_string)

In [130]:
name.endswith('gram')

True

In [131]:
10.startswith()

SyntaxError: invalid syntax (<ipython-input-131-89fae4fd22a1>, line 1)

In [132]:
'10'.startswith('10')

True

## isupper ,islower

In [133]:
name.isupper()

False

In [134]:
name.islower()

True

In [135]:
name = name.upper()

In [136]:
name

'PYTHON PROGRAM'

## isdigit()

In [139]:
rno='123'
reg='a16'

In [140]:
rno.isdigit(),reg.isdigit()

(True, False)

## split() return list with default space or split(delimeter)

In [141]:
a = 'gandhi is good'

In [143]:
a.split()

['gandhi', 'is', 'good']

In [146]:
a.split('a')

['g', 'ndhi is good']

## join(collection_string) join the elements in string

In [148]:
char = ['p','y','t','h','o','n']
''.join(char)

'python'

### strip() removes the left and rigth spaces of the string but not chages

In [149]:
name='    gandhi    '

In [150]:
name.strip()

'gandhi'

In [151]:
name.lstrip()

'gandhi    '

In [152]:
name.rstrip()

'    gandhi'

### isalpha()

In [153]:
a = 'gandhi'
a.isalpha()

True

In [156]:
i = 'gand hi '
i.isalpha()

False

In [157]:
i = 'GaNdHi'
i.swapcase()

'gAnDhI'

In [159]:
i.capitalize()

'Gandhi'

In [160]:
a= 'gandhi devi'

In [161]:
a.title()

'Gandhi Devi'

## dictionary dic

In [162]:
english = {'name':'gandhikamukargi','mobile':'9908724971'}

In [163]:
for i in english:
    print(i)

name
mobile

In [164]:
english['name']='gandhi'

In [165]:
english

{'name': 'gandhi', 'mobile': '9908724971'}

In [166]:
english['gender']='male'

In [167]:
english

{'name': 'gandhi', 'mobile': '9908724971', 'gender': 'male'}

In [169]:
for i in english:
    print(i,' : ',english[i])

name  :  gandhi
mobile  :  9908724971
gender  :  male

In [172]:
type(english)

dict

In [173]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [174]:
{}.clear()

In [176]:
mani = dict
mani.copy(english)

{'name': 'gandhi', 'mobile': '9908724971', 'gender': 'male'}

In [181]:
keys = ['name','moblie','gender']
mani = {}.fromkeys(keys,30) ## we may give one value for all keys but not different values for all

In [182]:
keys,mani

(['name', 'moblie', 'gender'], {'name': 30, 'moblie': 30, 'gender': 30})

In [183]:
english['name']

'gandhi'

## get(key)

In [185]:
print(english.get('name','key not avalible'))

gandhi

In [190]:
n = input()
n=n.split()
k = list(n[0])
if len(k)>=int(n[1]):
    for i in range(int(n[1])):
        k[i]='9'
print(''.join(k))

4653 2
9953

## setdefualt()

In [193]:
mani.setdefualt()

AttributeError: 'dict' object has no attribute 'setdefualt'

In [194]:
english.items()

dict_items([('name', 'gandhi'), ('mobile', '9908724971'), ('gender', 'male')])

In [195]:
english.keys()

dict_keys(['name', 'mobile', 'gender'])

## pop(key)
removes the key item

In [196]:
english.pop('gender')

'male'

In [197]:
english.pop()

TypeError: pop expected at least 1 arguments, got 0

## popitem()

In [198]:
english.popitem()

('mobile', '9908724971')

In [199]:
{}.popitem()

KeyError: 'popitem(): dictionary is empty'

 ## person.update

In [200]:
gandhi = {'name':'hell0','Grade':'A'}

In [202]:
english.update(gandhi)

In [203]:
english

{'name': 'hell0', 'Grade': 'A'}

## person.values()

In [204]:
english.values()

dict_values(['hell0', 'A'])

In [206]:
## sets:
##set is mutable one


a = {1,2,3,4,5}

type(a)

### a.add()

a.add(10)

a

### a.pop() first element is deleted in the set

a.pop()

a

print(a)

{2, 3, 4, 5, 10}

In [207]:
a = {1,2,3,4}

In [208]:
b = {5,6,7,8}

In [209]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [210]:
a.difference(b)

{1, 2, 3, 4}

In [211]:
a.intersection(b)

set()

In [213]:
a.clear()

In [214]:
[].clear()

In [215]:
().clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [216]:
a

set()

In [217]:
a={1,2,3,4,5}

In [218]:
a.remove(2)

In [219]:
a

{1, 3, 4, 5}

In [221]:
a.pop()

1

In [222]:
a,b

({3, 4, 5}, {5, 6, 7, 8})

In [223]:
a.update(b)

In [229]:
a

{3, 4, 5, 6, 7, 8}

In [230]:
c= {3}

In [231]:
c.issubset(a)

True

In [232]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']