In [1]:
t = []
for i in range(3,100,3):
    t.append(i)
print(t)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### list comprahention
### [item loop condition]

In [4]:
t = [1 for each in range(10) ]

In [5]:
t

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
t = [i for i in range(10) ]

In [7]:
t

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
[i**2 for i in range(1,11) if i%2==0]

[4, 16, 36, 64, 100]

In [14]:
students = [['sai',70],['ram',30],['laxmi',60]] 
students.sort(key = lambda x:x[-1],reverse=True)

In [15]:
students

[['sai', 70], ['laxmi', 60], ['ram', 30]]

In [16]:
[i[0] for i in students if(i[-1]>=60) ]

['sai', 'laxmi']

In [17]:
s = [['sai',70,1],['laxmi',60,2],['sairam',50,3]]

In [18]:
[i[0] for i in s if(i[1]>=60 and i[-1]<=1)]

['sai']

In [21]:
23//12

1

In [24]:
[i+j for i in range(3) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [36]:
[(i,j,k) for i in range(1,1000) for j in range(i,1000) for k in range(j,1000) if(((i**2+j**2)==k**2) and (abs(i-j)==1) and (abs(j-k)==1))]

[(3, 4, 5)]

In [38]:
squares = {i:i*i for i in range(1,11)}

In [40]:
squares[2]

4

## dictionary comprahention

In [42]:
{i:i*i for i in range(1,11) if(i%2==0)}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [46]:
{i : i*i if i%2==0  else  i**3 for i in range(1,11)} ## if else in comprahention

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [62]:
name = ['sai','ramu','gandhhi','ram','dev','ruup']
grade = ['A','B','A','c','S','A']

In [53]:
student = {name[i] : grade[i] for i in range(len(name)) }

In [54]:
student

{'sai': 'A', 'ramu': 'B', 'gandhhi': 'A', 'ram': 'c', 'dev': 'S', 'ruup': 'A'}

### multiple variable for loop

In [64]:
for n,g in zip(name,grade):
    print(n,g)

sai A
ramu B
gandhhi A
ram c
dev S
ruup A

In [65]:
a = 1,2

In [66]:
a

(1, 2)

In [70]:
a,b=(1,2)

In [71]:
a

1

In [72]:
b

2

In [73]:
for i in zip(name,grade):
    print(i)

('sai', 'A')
('ramu', 'B')
('gandhhi', 'A')
('ram', 'c')
('dev', 'S')
('ruup', 'A')

In [74]:
for i in zip(name,grade,student):
    print(i)

('sai', 'A', 'sai')
('ramu', 'B', 'ramu')
('gandhhi', 'A', 'gandhhi')
('ram', 'c', 'ram')
('dev', 'S', 'dev')
('ruup', 'A', 'ruup')

In [76]:
a =1
a

1

In [78]:
a = 1,2
a

(1, 2)

In [81]:
a,b=1,2
a,b

(1, 2)

In [82]:
a,b=1
a,b

TypeError: cannot unpack non-iterable int object

In [84]:
std = {}
for i,j in zip(name,grade):
    std[i]=j

In [85]:
std

{'sai': 'A', 'ramu': 'B', 'gandhhi': 'A', 'ram': 'c', 'dev': 'S', 'ruup': 'A'}

In [86]:
t = [['gandhi',30,40],['kasthuri',40,50],['parvathi',60,70]]

In [117]:
r = []
maxm=0
for i in range(len(t)):
    for j in range(len(t)-i-1):
        if(t[j][1]<t[j-1][1]):
            temp = t[j+1]
            t[j+1] =t[j]
            t[j] = temp

In [118]:
t

[['kasthuri', 40, 50], ['parvathi', 60, 70], ['gandhi', 30, 40]]

In [119]:
t.sort(key= lambda x:x[1],reverse=False)

In [120]:
t

[['gandhi', 30, 40], ['kasthuri', 40, 50], ['parvathi', 60, 70]]

In [125]:
def findodd(k):
    res = 0
    for i in range(len(k)):
        res=(res^int(k[i]))
    return res
test = int(input())
for i in range(test):
    n = int(input())
    k = input()
    k = k.split()
    if len(k)==n:
        print(findodd(k))

1
7
8 7 8 1 6 6 7
1

## three types of function in python 
### ->predefined
### ->user defined
### ->anonamous function

###  anonamous function

In [133]:
add = lambda x:'hi'## funname -->add  advantage no return statement single line function

In [134]:
def add(x):
    return x

In [135]:
add(10)

10

In [136]:
square = lambda x: x**2

In [132]:
square(5)

25

## multiple return values in python

In [137]:
def valu(x,y):
    return x,y

In [138]:
t = valu(1,2)

In [139]:
t

(1, 2)

In [140]:
# lambda return multiple item but takes single value

In [142]:
fun = lambda x,y:x

In [143]:
t = valu(1,2)

In [144]:
t

(1, 2)

In [145]:
number = ['10','20','30']

## map(function,collection)  ### return address where data was stored

In [150]:
s = map(int,number)

In [151]:
print(s)

<map object at 0x000002649A5FD320>

In [149]:
type(s)

map

In [152]:
list(s)

[10, 20, 30]

## convert one form to anthoer form and stores in the address

In [154]:
marks = ['10','20','30']

In [156]:
s = map(lambda x:int(x)+30,marks)

In [157]:
marks = list(s)

In [158]:
marks

[40, 50, 60]

In [160]:
all(marks) ## returns true when all element in a list are not 0

True

In [161]:
bool(10)

True

In [163]:
any(marks) ## return False if all elements in a list  are 0's

True

### filter(function,collection)

In [164]:
marks =[10,20,30,0,100]

In [180]:
s = filter(lambda x:x>10,marks)
list(s)

[20, 30, 100]

In [173]:
students =[['sai',10],['sunny',30],['ramu',50]]

In [183]:
s = filter(lambda x:x[1]<30,students)

In [184]:
list(s)

[['sai', 10]]

In [185]:
student = [
    ['sai',{'maths':30,'english':50}],
    ['ram',{'english':100,'maths':100}],
    ['roja',{'maths':50,'english':40}]
]

In [204]:
s = filter(lambda x:x[1]['maths']>45,student)

In [191]:
student[1][1]

{'english': 100, 'maths': 100}

In [205]:
list(s)

[['ram', {'english': 100, 'maths': 100}],
 ['roja', {'maths': 50, 'english': 40}]]

In [195]:
h = ['sai',{'maths':10,'social':20}]

In [199]:
h[1]

SyntaxError: invalid syntax (<ipython-input-199-d7c1786c63af>, line 1)

In [206]:
student.sort(key=lambda x:x[1]['maths'],reverse=True)

In [207]:
student

[['ram', {'english': 100, 'maths': 100}],
 ['roja', {'maths': 50, 'english': 40}],
 ['sai', {'maths': 30, 'english': 50}]]