## PYTHON PROGRAMMING USING  ANNCONDA / JUPITER NOTE BOOK
*WELCOME*
  **TO**
     ***JUPITOR NOTE BOOK***
* 26/08/2019
    * MORNING SECTION
        * introduction to jupiter

<img src="jupyter.png" >

<img src="images.png"
style="width:200px;heigth=400px">

## python basics

In [1]:
#print funtion
print("weolcome to python")

weolcome to python

In [2]:
print("good morning",end=" ")
print("good after noon")

good morning good after noon

In [3]:
a="hello gandhi"
print(a)

hello gandhi

In [4]:
a=123
print(a)

123

In [5]:
type(a)

int

In [6]:
b="abc"

In [7]:
type(b)

str

In [8]:
c=2.300000

In [9]:
type(c)

float

In [10]:
str(c)

'2.3'

int(b)

In [11]:
b='123'

In [12]:
int(b)

123

In [13]:
a=int(input("enter lower limit:"))
b=int(input("enter upper limit:"))
for i in range(a,b+1):
    if(i%2==0):
        print(i)

enter lower limit:2
enter upper limit:10
2
4
6
8
10

In [14]:
a=int(input("enter a number:"))
b=int(input("enter range"))
n=1
for i in range(1,b+1):
    print(a," X ",i,' = ',(a*i))

enter a number:2
enter range10
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20

## operators in python

### arithematic operator

## +,-,*,/,//,**,%

In [15]:
2+3
a=2
b=3
a+b #without print only last will exhicuted

5

In [16]:
10/3

3.3333333333333335

In [17]:
10//3

3

In [18]:
int(10/3)

3

In [19]:
2 ** 2

4

In [20]:
2 ** 3

8

In [21]:
pow(2,3)

8

## relational operator

## <,>,<=,>=,==,!= returns boolen values (True/False)

In [22]:
2==3

False

In [23]:
2 == 3

False

In [24]:
2<=10

True

## assignment operators

## =,+=,-=,*=,/ =

In [25]:
a,d,c=1 #unpacked error because length on same sides must be same

TypeError: cannot unpack non-iterable int object

In [26]:
a=b=c=10

In [27]:
print(a,b,c)

10 10 10

In [28]:
a,b,c=1,2,3

In [29]:
print(a,b,c)

1 2 3

In [30]:
a=1,2,3,4

In [31]:
type(a)

tuple

In [32]:
a=1

In [33]:
a = a+1

In [34]:
a

2

In [35]:
a+=10

In [36]:
a

12

In [37]:
a**=10

In [38]:
a

61917364224

## logical operator

## and, or , xor ,nor ,not

In [39]:
not(True)

False

In [40]:
True or False

True

In [41]:
1 and 2

2

In [42]:
-1 and 2

2

In [43]:
bool(-1)

True

In [44]:
bool(0)

False

In [45]:
2 and 1

1

In [46]:
2 or 1

2

In [47]:
0 and 5

0

In [48]:
5 and 0

0

In [49]:
2 or 0

2

In [50]:
0 or 2

2

In [51]:
not 1

False

In [52]:
not 0

True

In [53]:
not 2

False

In [54]:
a=5
b=10
a or b

5

In [55]:
a and b

10

In [56]:
3 or 5 and 6

3

### not >> and >> or (prirority)

In [57]:
not 3 or 5 and 6

6

In [58]:
2 +3 * 4/10

3.2

# pedmas
Paranthis Exponetial Division Multiplication Addition and  Subtraction

In [59]:
3 * 3 // 2 ** 3

1

## bitwise operator

In [60]:
3 & 4

0

In [61]:
3 | 4

7

In [62]:
3 ^ 4

7

In [63]:
bin(100)

'0b1100100'

In [64]:
int(100
   )

100

In [65]:
int(0b100)

4

In [66]:
oct(10)

'0o12'

In [67]:
8 << 1

16

In [68]:
8 << 2

32

In [69]:
3 << 2

12

In [70]:
6 >> 2

1

In [71]:
5 << 2

20

In [72]:
5 << 3

40

In [73]:
6 >> 1

3

## identity Operators

## is , isnot

In [74]:
2 is not 3

True

## membership operator

## in , notin

In [75]:
'ap' in 'gandhi'

False

In [76]:
'a' in 'gandhi'

True

In [77]:
'n' not in 'gandhi'

False

In [78]:
1  not in (100,1,2)

False

## conditional statments

## if statment

In [95]:
num = int(input())
if(num>=0):
    print(num," is  positve")
if(num<0):
    print(num," is  negative")

10
10  is  positve

In [94]:
num = int(input())
if(num>=0):
    print(num," is  positve")
else:
    print(num," is  negative")

0
0  is  positve

In [93]:
num =int(input())
if num>0:
    print(num," is positive")
elif num==0:
    print(num," is zero")
else:
    print(num,' is negative')

-1
-1  is negative

In [92]:
year =int(input())
if(year%100!=0):
    if(year%4==0):
        print(year," is leap year")
    else:
        print(year," is not leap year")
elif(year%400==0):
    print(year," is leap year")
else:
    print(year," is not a leap year")

2000
2000  is leap year

In [91]:
num = int(input())
if(1000%num==0):
    print(num," is factor of 1000")
else:
    print(num," if not factor of 1000")

500
500  is factor of 1000

#### write a program to find the length of the string

In [90]:
num = int(input())
n=0
while(num!=0):
    n+=1
    num//=10
print(n," is length of given number ")

123
3  is length of given number

In [89]:
a=int(input())
print(len(str(a)))#a is coverted into strring and calculated the length

123
3

In [88]:
a,b,c,d=200,536,145,221
num=(a>b)?((a>c)?a:c):((b>c)?b:c)
if(num>d):
    print(num," is greater")
else:
    print(d," is greater")

SyntaxError: invalid syntax (<ipython-input-88-2e82e9e4b5f4>, line 2)

In [87]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
if(a>b):
    if(a>c):
        if(a>d):
            print(a," is greater")
        else:
            print(d," is greater")
    else:
        if(c>d):
            print(c," is greater")
        else:
            print(d," is greater")
else:
    if(b>c):
        if(b>d):
            print(b,' is greater')
        else:
            print(d," is greater")
    else:
        if(c>d):
            print(c," is greater")
        else:
            print(d," is greater")

10
20
30
10
30  is greater

In [101]:
n = int(input())
if(n>=75):
    print(" distiction")
elif(n>=51):
    print(" second class")
elif(n>=35):
    print(" pass")
else:
    print(" fail")

55
 second class

In [14]:
a = int(input())
b = int(input())
c = int(input())
if(a==b==c):
    print(a)
elif(a==b or b==c or c==a):
    if a==b:
        print(c)
    elif b==c:
        print(a)
    else:
        print(b)
else:
    print(a+b+c)

10
20
30
60

In [11]:
n=int(input())
if((n&1)):
    print(n," is odd ")
else:
    print(n," is even")

5
5  is odd

In [3]:
## write a program  to find the  given number is exist in the given range
up = int(input(" upper range: "))
lo = int(input(" lower range: "))
n = int(input(" enter the number: "))
if(lo<=up):
    if(n>=lo and n<=up):
        print(" with in range")
    else:
        print(" out of range")
else:
    print(" enter a valid range")

 upper range: 5
 lower range: 12
 enter the number: 5
 enter a valid range

## loops

## for loop

In [9]:
for i in range(11): # : if an replacement of open paranthesis
    print(i,end='\t')           #statement

0	1	2	3	4	5	6	7	8	9	10

In [10]:
for i in range(1,6,2): # 2 is like increment also called as step value
    print(i)

1
3
5

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
for i in 1: #where we cant use single vALUE IN FOR
    print(i)

TypeError: 'int' object is not iterable

In [14]:
s='apssdc'
for char in s:
    print(s)

apssdc
apssdc
apssdc
apssdc
apssdc
apssdc

In [15]:
s='apssdc'
for char in s:
    print(char)

a
p
s
s
d
c

In [18]:
s='apssdc'
for i in range(len(s)):
    print(s[i])

a
p
s
s
d
c

In [23]:
s='apssdc'
for i in range(len(s)-1,-1,-1):
    print(s[i],end="")

cdsspa

In [33]:
chr(122)

'z'

In [29]:
for i in range(65,91):
    print(chr(i),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [35]:
for i in range(65,91):
    if chr(i)=='E' or chr(i)=='A' or chr(i)=='O' or chr(i)=='U' or chr(i)=='I':
        continue
    print(chr(i),end=' ')

B C D F G H J K L M N P Q R S T V W X Y Z

In [39]:
i=1
while i<=5:
    print(i)
    i+=1
i

1
2
3
4
5

6

In [44]:
i=1
while(i<=1000):
    print(2," * ",i," = ",2*i)
    i+=1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24
2  *  13  =  26
2  *  14  =  28
2  *  15  =  30
2  *  16  =  32
2  *  17  =  34
2  *  18  =  36
2  *  19  =  38
2  *  20  =  40
2  *  21  =  42
2  *  22  =  44
2  *  23  =  46
2  *  24  =  48
2  *  25  =  50
2  *  26  =  52
2  *  27  =  54
2  *  28  =  56
2  *  29  =  58
2  *  30  =  60
2  *  31  =  62
2  *  32  =  64
2  *  33  =  66
2  *  34  =  68
2  *  35  =  70
2  *  36  =  72
2  *  37  =  74
2  *  38  =  76
2  *  39  =  78
2  *  40  =  80
2  *  41  =  82
2  *  42  =  84
2  *  43  =  86
2  *  44  =  88
2  *  45  =  90
2  *  46  =  92
2  *  47  =  94
2  *  48  =  96
2  *  49  =  98
2  *  50  =  100
2  *  51  =  102
2  *  52  =  104
2  *  53  =  106
2  *  54  =  108
2  *  55  =  110
2  *  56  =  112
2  *  57  =  114
2  *  58  =  116
2  *  59  =  118
2  *  60  =  120
2  *  61  =  122
2  *  62  =  124
2  *  63  =  126
2  *  64  =  128
2  *  65  =  130
2  *  66  =  132
2  *  67  =  134
2  *  68  =  136
2  *  69  =  138
2  *  70  =  140
2  *  71  =  142
2  *  72  =  144
2  *  73  =  146
2  *  74  =  148
2  *  75  =  150
2  *  76  =  152
2  *  77  =  154
2  *  78  =  156
2  *  79  =  158
2  *  80  =  160
2  *  81  =  162
2  *  82  =  164
2  *  83  =  166
2  *  84  =  168
2  *  85  =  170
2  *  86  =  172
2  *  87  =  174
2  *  88  =  176
2  *  89  =  178
2  *  90  =  180
2  *  91  =  182
2  *  92  =  184
2  *  93  =  186
2  *  94  =  188
2  *  95  =  190
2  *  96  =  192
2  *  97  =  194
2  *  98  =  196
2  *  99  =  198
2  *  100  =  200
2  *  101  =  202
2  *  102  =  204
2  *  103  =  206
2  *  104  =  208
2  *  105  =  210
2  *  106  =  212
2  *  107  =  214
2  *  108  =  216
2  *  109  =  218
2  *  110  =  220
2  *  111  =  222
2  *  112  =  224
2  *  113  =  226
2  *  114  =  228
2  *  115  =  230
2  *  116  =  232
2  *  117  =  234
2  *  118  =  236
2  *  119  =  238
2  *  120  =  240
2  *  121  =  242
2  *  122  =  244
2  *  123  =  246
2  *  124  =  248
2  *  125  =  250
2  *  126  =  252
2  *  127  =  254
2  *  128  =  256
2  *  129  =  258
2  *  130  =  260
2  *  131  =  262
2  *  132  =  264
2  *  133  =  266
2  *  134  =  268
2  *  135  =  270
2  *  136  =  272
2  *  137  =  274
2  *  138  =  276
2  *  139  =  278
2  *  140  =  280
2  *  141  =  282
2  *  142  =  284
2  *  143  =  286
2  *  144  =  288
2  *  145  =  290
2  *  146  =  292
2  *  147  =  294
2  *  148  =  296
2  *  149  =  298
2  *  150  =  300
2  *  151  =  302
2  *  152  =  304
2  *  153  =  306
2  *  154  =  308
2  *  155  =  310
2  *  156  =  312
2  *  157  =  314
2  *  158  =  316
2  *  159  =  318
2  *  160  =  320
2  *  161  =  322
2  *  162  =  324
2  *  163  =  326
2  *  164  =  328
2  *  165  =  330
2  *  166  =  332
2  *  167  =  334
2  *  168  =  336
2  *  169  =  338
2  *  170  =  340
2  *  171  =  342
2  *  172  =  344
2  *  173  =  346
2  *  174  =  348
2  *  175  =  350
2  *  176  =  352
2  *  177  =  354
2  *  178  =  356
2  *  179  =  358
2  *  180  =  360
2  *  181  =  362
2  *  182  =  364
2  *  183  =  366
2  *  184  =  368
2  *  185  =  370
2  *  186  =  372
2  *  187  =  374
2  *  188  =  376
2  *  189  =  378
2  *  190  =  380
2  *  191  =  382
2  *  192  =  384
2  *  193  =  386
2  *  194  =  388
2  *  195  =  390
2  *  196  =  392
2  *  197  =  394
2  *  198  =  396
2  *  199  =  398
2  *  200  =  400
2  *  201  =  402
2  *  202  =  404
2  *  203  =  406
2  *  204  =  408
2  *  205  =  410
2  *  206  =  412
2  *  207  =  414
2  *  208  =  416
2  *  209  =  418
2  *  210  =  420
2  *  211  =  422
2  *  212  =  424
2  *  213  =  426
2  *  214  =  428
2  *  215  =  430
2  *  216  =  432
2  *  217  =  434
2  *  218  =  436
2  *  219  =  438
2  *  220  =  440
2  *  221  =  442
2  *  222  =  444
2  *  223  =  446
2  *  224  =  448
2  *  225  =  450
2  *  226  =  452
2  *  227  =  454
2  *  228  =  456
2  *  229  =  458
2  *  230  =  460
2  *  231  =  462
2  *  232  =  464
2  *  233  =  466
2  *  234  =  468
2  *  235  =  470
2  *  236  =  472
2  *  237  =  474
2  *  238  =  476
2  *  239  =  478
2  *  240  =  480
2  *  241  =  482
2  *  242  =  484
2  *  243  =  486
2  *  244  =  488
2  *  245  =  490
2  *  246  =  492
2  *  247  =  494
2  *  248  =  496
2  *  249  =  498
2  *  250  =  500
2  *  251  =  502
2  *  252  =  504
2  *  253  =  506
2  *  254  =  508
2  *  255  =  510
2  *  256  =  512
2  *  257  =  514
2  *  258  =  516
2  *  259  =  518
2  *  260  =  520
2  *  261  =  522
2  *  262  =  524
2  *  263  =  526
2  *  264  =  528
2  *  265  =  530
2  *  266  =  532
2  *  267  =  534
2  *  268  =  536
2  *  269  =  538
2  *  270  =  540
2  *  271  =  542
2  *  272  =  544
2  *  273  =  546
2  *  274  =  548
2  *  275  =  550
2  *  276  =  552
2  *  277  =  554
2  *  278  =  556
2  *  279  =  558
2  *  280  =  560
2  *  281  =  562
2  *  282  =  564
2  *  283  =  566
2  *  284  =  568
2  *  285  =  570
2  *  286  =  572
2  *  287  =  574
2  *  288  =  576
2  *  289  =  578
2  *  290  =  580
2  *  291  =  582
2  *  292  =  584
2  *  293  =  586
2  *  294  =  588
2  *  295  =  590
2  *  296  =  592
2  *  297  =  594
2  *  298  =  596
2  *  299  =  598
2  *  300  =  600
2  *  301  =  602
2  *  302  =  604
2  *  303  =  606
2  *  304  =  608
2  *  305  =  610
2  *  306  =  612
2  *  307  =  614
2  *  308  =  616
2  *  309  =  618
2  *  310  =  620
2  *  311  =  622
2  *  312  =  624
2  *  313  =  626
2  *  314  =  628
2  *  315  =  630
2  *  316  =  632
2  *  317  =  634
2  *  318  =  636
2  *  319  =  638
2  *  320  =  640
2  *  321  =  642
2  *  322  =  644
2  *  323  =  646
2  *  324  =  648
2  *  325  =  650
2  *  326  =  652
2  *  327  =  654
2  *  328  =  656
2  *  329  =  658
2  *  330  =  660
2  *  331  =  662
2  *  332  =  664
2  *  333  =  666
2  *  334  =  668
2  *  335  =  670
2  *  336  =  672
2  *  337  =  674
2  *  338  =  676
2  *  339  =  678
2  *  340  =  680
2  *  341  =  682
2  *  342  =  684
2  *  343  =  686
2  *  344  =  688
2  *  345  =  690
2  *  346  =  692
2  *  347  =  694
2  *  348  =  696
2  *  349  =  698
2  *  350  =  700
2  *  351  =  702
2  *  352  =  704
2  *  353  =  706
2  *  354  =  708
2  *  355  =  710
2  *  356  =  712
2  *  357  =  714
2  *  358  =  716
2  *  359  =  718
2  *  360  =  720
2  *  361  =  722
2  *  362  =  724
2  *  363  =  726
2  *  364  =  728
2  *  365  =  730
2  *  366  =  732
2  *  367  =  734
2  *  368  =  736
2  *  369  =  738
2  *  370  =  740
2  *  371  =  742
2  *  372  =  744
2  *  373  =  746
2  *  374  =  748
2  *  375  =  750
2  *  376  =  752
2  *  377  =  754
2  *  378  =  756
2  *  379  =  758
2  *  380  =  760
2  *  381  =  762
2  *  382  =  764
2  *  383  =  766
2  *  384  =  768
2  *  385  =  770
2  *  386  =  772
2  *  387  =  774
2  *  388  =  776
2  *  389  =  778
2  *  390  =  780
2  *  391  =  782
2  *  392  =  784
2  *  393  =  786
2  *  394  =  788
2  *  395  =  790
2  *  396  =  792
2  *  397  =  794
2  *  398  =  796
2  *  399  =  798
2  *  400  =  800
2  *  401  =  802
2  *  402  =  804
2  *  403  =  806
2  *  404  =  808
2  *  405  =  810
2  *  406  =  812
2  *  407  =  814
2  *  408  =  816
2  *  409  =  818
2  *  410  =  820
2  *  411  =  822
2  *  412  =  824
2  *  413  =  826
2  *  414  =  828
2  *  415  =  830
2  *  416  =  832
2  *  417  =  834
2  *  418  =  836
2  *  419  =  838
2  *  420  =  840
2  *  421  =  842
2  *  422  =  844
2  *  423  =  846
2  *  424  =  848
2  *  425  =  850
2  *  426  =  852
2  *  427  =  854
2  *  428  =  856
2  *  429  =  858
2  *  430  =  860
2  *  431  =  862
2  *  432  =  864
2  *  433  =  866
2  *  434  =  868
2  *  435  =  870
2  *  436  =  872
2  *  437  =  874
2  *  438  =  876
2  *  439  =  878
2  *  440  =  880
2  *  441  =  882
2  *  442  =  884
2  *  443  =  886
2  *  444  =  888
2  *  445  =  890
2  *  446  =  892
2  *  447  =  894
2  *  448  =  896
2  *  449  =  898
2  *  450  =  900
2  *  451  =  902
2  *  452  =  904
2  *  453  =  906
2  *  454  =  908
2  *  455  =  910
2  *  456  =  912
2  *  457  =  914
2  *  458  =  916
2  *  459  =  918
2  *  460  =  920
2  *  461  =  922
2  *  462  =  924
2  *  463  =  926
2  *  464  =  928
2  *  465  =  930
2  *  466  =  932
2  *  467  =  934
2  *  468  =  936
2  *  469  =  938
2  *  470  =  940
2  *  471  =  942
2  *  472  =  944
2  *  473  =  946
2  *  474  =  948
2  *  475  =  950
2  *  476  =  952
2  *  477  =  954
2  *  478  =  956
2  *  479  =  958
2  *  480  =  960
2  *  481  =  962
2  *  482  =  964
2  *  483  =  966
2  *  484  =  968
2  *  485  =  970
2  *  486  =  972
2  *  487  =  974
2  *  488  =  976
2  *  489  =  978
2  *  490  =  980
2  *  491  =  982

2  *  492  =  984
2  *  493  =  986
2  *  494  =  988
2  *  495  =  990
2  *  496  =  992
2  *  497  =  994
2  *  498  =  996
2  *  499  =  998
2  *  500  =  1000
2  *  501  =  1002
2  *  502  =  1004
2  *  503  =  1006
2  *  504  =  1008
2  *  505  =  1010
2  *  506  =  1012
2  *  507  =  1014
2  *  508  =  1016
2  *  509  =  1018
2  *  510  =  1020
2  *  511  =  1022
2  *  512  =  1024
2  *  513  =  1026
2  *  514  =  1028
2  *  515  =  1030
2  *  516  =  1032
2  *  517  =  1034
2  *  518  =  1036
2  *  519  =  1038
2  *  520  =  1040
2  *  521  =  1042
2  *  522  =  1044
2  *  523  =  1046
2  *  524  =  1048
2  *  525  =  1050
2  *  526  =  1052
2  *  527  =  1054
2  *  528  =  1056
2  *  529  =  1058
2  *  530  =  1060
2  *  531  =  1062
2  *  532  =  1064
2  *  533  =  1066
2  *  534  =  1068
2  *  535  =  1070
2  *  536  =  1072
2  *  537  =  1074
2  *  538  =  1076
2  *  539  =  1078
2  *  540  =  1080
2  *  541  =  1082
2  *  542  =  1084
2  *  543  =  1086
2  *  544  =  1088
2  *  545  =  1090
2  *  546  =  1092
2  *  547  =  1094
2  *  548  =  1096
2  *  549  =  1098
2  *  550  =  1100
2  *  551  =  1102
2  *  552  =  1104
2  *  553  =  1106
2  *  554  =  1108
2  *  555  =  1110
2  *  556  =  1112
2  *  557  =  1114
2  *  558  =  1116
2  *  559  =  1118
2  *  560  =  1120
2  *  561  =  1122
2  *  562  =  1124
2  *  563  =  1126
2  *  564  =  1128
2  *  565  =  1130
2  *  566  =  1132
2  *  567  =  1134
2  *  568  =  1136
2  *  569  =  1138
2  *  570  =  1140
2  *  571  =  1142
2  *  572  =  1144
2  *  573  =  1146
2  *  574  =  1148
2  *  575  =  1150
2  *  576  =  1152
2  *  577  =  1154
2  *  578  =  1156
2  *  579  =  1158
2  *  580  =  1160
2  *  581  =  1162
2  *  582  =  1164
2  *  583  =  1166
2  *  584  =  1168
2  *  585  =  1170
2  *  586  =  1172
2  *  587  =  1174
2  *  588  =  1176
2  *  589  =  1178
2  *  590  =  1180
2  *  591  =  1182
2  *  592  =  1184
2  *  593  =  1186
2  *  594  =  1188
2  *  595  =  1190
2  *  596  =  1192
2  *  597  =  1194
2  *  598  =  1196
2  *  599  =  1198
2  *  600  =  1200
2  *  601  =  1202
2  *  602  =  1204
2  *  603  =  1206
2  *  604  =  1208
2  *  605  =  1210
2  *  606  =  1212
2  *  607  =  1214
2  *  608  =  1216
2  *  609  =  1218
2  *  610  =  1220
2  *  611  =  1222
2  *  612  =  1224
2  *  613  =  1226
2  *  614  =  1228
2  *  615  =  1230
2  *  616  =  1232
2  *  617  =  1234
2  *  618  =  1236
2  *  619  =  1238
2  *  620  =  1240
2  *  621  =  1242
2  *  622  =  1244
2  *  623  =  1246
2  *  624  =  1248
2  *  625  =  1250
2  *  626  =  1252
2  *  627  =  1254
2  *  628  =  1256
2  *  629  =  1258
2  *  630  =  1260
2  *  631  =  1262
2  *  632  =  1264
2  *  633  =  1266
2  *  634  =  1268
2  *  635  =  1270
2  *  636  =  1272
2  *  637  =  1274
2  *  638  =  1276
2  *  639  =  1278
2  *  640  =  1280
2  *  641  =  1282
2  *  642  =  1284
2  *  643  =  1286
2  *  644  =  1288
2  *  645  =  1290
2  *  646  =  1292
2  *  647  =  1294
2  *  648  =  1296
2  *  649  =  1298
2  *  650  =  1300
2  *  651  =  1302
2  *  652  =  1304
2  *  653  =  1306
2  *  654  =  1308
2  *  655  =  1310
2  *  656  =  1312
2  *  657  =  1314
2  *  658  =  1316
2  *  659  =  1318
2  *  660  =  1320
2  *  661  =  1322
2  *  662  =  1324
2  *  663  =  1326
2  *  664  =  1328
2  *  665  =  1330
2  *  666  =  1332
2  *  667  =  1334
2  *  668  =  1336
2  *  669  =  1338
2  *  670  =  1340
2  *  671  =  1342
2  *  672  =  1344
2  *  673  =  1346
2  *  674  =  1348
2  *  675  =  1350
2  *  676  =  1352
2  *  677  =  1354
2  *  678  =  1356
2  *  679  =  1358
2  *  680  =  1360
2  *  681  =  1362
2  *  682  =  1364
2  *  683  =  1366
2  *  684  =  1368
2  *  685  =  1370
2  *  686  =  1372
2  *  687  =  1374
2  *  688  =  1376
2  *  689  =  1378
2  *  690  =  1380
2  *  691  =  1382
2  *  692  =  1384
2  *  693  =  1386
2  *  694  =  1388
2  *  695  =  1390
2  *  696  =  1392
2  *  697  =  1394
2  *  698  =  1396
2  *  699  =  1398
2  *  700  =  1400
2  *  701  =  1402
2  *  702  =  1404
2  *  703  =  1406
2  *  704  =  1408
2  *  705  =  1410
2  *  706  =  1412
2  *  707  =  1414
2  *  708  =  1416
2  *  709  =  1418
2  *  710  =  1420
2  *  711  =  1422
2  *  712  =  1424
2  *  713  =  1426
2  *  714  =  1428
2  *  715  =  1430
2  *  716  =  1432
2  *  717  =  1434
2  *  718  =  1436
2  *  719  =  1438
2  *  720  =  1440
2  *  721  =  1442
2  *  722  =  1444
2  *  723  =  1446
2  *  724  =  1448
2  *  725  =  1450
2  *  726  =  1452
2  *  727  =  1454
2  *  728  =  1456
2  *  729  =  1458
2  *  730  =  1460
2  *  731  =  1462
2  *  732  =  1464
2  *  733  =  1466
2  *  734  =  1468
2  *  735  =  1470
2  *  736  =  1472
2  *  737  =  1474
2  *  738  =  1476
2  *  739  =  1478
2  *  740  =  1480
2  *  741  =  1482
2  *  742  =  1484
2  *  743  =  1486
2  *  744  =  1488
2  *  745  =  1490
2  *  746  =  1492
2  *  747  =  1494
2  *  748  =  1496
2  *  749  =  1498
2  *  750  =  1500
2  *  751  =  1502
2  *  752  =  1504
2  *  753  =  1506
2  *  754  =  1508
2  *  755  =  1510
2  *  756  =  1512
2  *  757  =  1514
2  *  758  =  1516
2  *  759  =  1518
2  *  760  =  1520
2  *  761  =  1522
2  *  762  =  1524
2  *  763  =  1526
2  *  764  =  1528
2  *  765  =  1530
2  *  766  =  1532
2  *  767  =  1534
2  *  768  =  1536
2  *  769  =  1538
2  *  770  =  1540
2  *  771  =  1542
2  *  772  =  1544
2  *  773  =  1546
2  *  774  =  1548
2  *  775  =  1550
2  *  776  =  1552
2  *  777  =  1554
2  *  778  =  1556
2  *  779  =  1558
2  *  780  =  1560
2  *  781  =  1562
2  *  782  =  1564
2  *  783  =  1566
2  *  784  =  1568
2  *  785  =  1570
2  *  786  =  1572
2  *  787  =  1574
2  *  788  =  1576
2  *  789  =  1578
2  *  790  =  1580
2  *  791  =  1582
2  *  792  =  1584
2  *  793  =  1586
2  *  794  =  1588
2  *  795  =  1590
2  *  796  =  1592
2  *  797  =  1594
2  *  798  =  1596
2  *  799  =  1598
2  *  800  =  1600
2  *  801  =  1602
2  *  802  =  1604
2  *  803  =  1606
2  *  804  =  1608
2  *  805  =  1610
2  *  806  =  1612
2  *  807  =  1614
2  *  808  =  1616
2  *  809  =  1618
2  *  810  =  1620
2  *  811  =  1622
2  *  812  =  1624
2  *  813  =  1626
2  *  814  =  1628
2  *  815  =  1630
2  *  816  =  1632
2  *  817  =  1634
2  *  818  =  1636
2  *  819  =  1638
2  *  820  =  1640
2  *  821  =  1642
2  *  822  =  1644
2  *  823  =  1646
2  *  824  =  1648
2  *  825  =  1650
2  *  826  =  1652
2  *  827  =  1654
2  *  828  =  1656
2  *  829  =  1658
2  *  830  =  1660
2  *  831  =  1662
2  *  832  =  1664
2  *  833  =  1666
2  *  834  =  1668
2  *  835  =  1670
2  *  836  =  1672
2  *  837  =  1674
2  *  838  =  1676
2  *  839  =  1678
2  *  840  =  1680
2  *  841  =  1682
2  *  842  =  1684
2  *  843  =  1686
2  *  844  =  1688
2  *  845  =  1690
2  *  846  =  1692
2  *  847  =  1694
2  *  848  =  1696
2  *  849  =  1698
2  *  850  =  1700
2  *  851  =  1702
2  *  852  =  1704
2  *  853  =  1706
2  *  854  =  1708
2  *  855  =  1710
2  *  856  =  1712
2  *  857  =  1714
2  *  858  =  1716
2  *  859  =  1718
2  *  860  =  1720
2  *  861  =  1722
2  *  862  =  1724
2  *  863  =  1726
2  *  864  =  1728
2  *  865  =  1730
2  *  866  =  1732
2  *  867  =  1734
2  *  868  =  1736
2  *  869  =  1738
2  *  870  =  1740
2  *  871  =  1742
2  *  872  =  1744
2  *  873  =  1746
2  *  874  =  1748
2  *  875  =  1750
2  *  876  =  1752
2  *  877  =  1754
2  *  878  =  1756
2  *  879  =  1758
2  *  880  =  1760
2  *  881  =  1762
2  *  882  =  1764
2  *  883  =  1766
2  *  884  =  1768
2  *  885  =  1770
2  *  886  =  1772
2  *  887  =  1774
2  *  888  =  1776
2  *  889  =  1778
2  *  890  =  1780
2  *  891  =  1782
2  *  892  =  1784
2  *  893  =  1786
2  *  894  =  1788
2  *  895  =  1790
2  *  896  =  1792
2  *  897  =  1794
2  *  898  =  1796
2  *  899  =  1798
2  *  900  =  1800
2  *  901  =  1802
2  *  902  =  1804
2  *  903  =  1806
2  *  904  =  1808
2  *  905  =  1810
2  *  906  =  1812
2  *  907  =  1814
2  *  908  =  1816
2  *  909  =  1818
2  *  910  =  1820
2  *  911  =  1822
2  *  912  =  1824
2  *  913  =  1826
2  *  914  =  1828
2  *  915  =  1830
2  *  916  =  1832
2  *  917  =  1834
2  *  918  =  1836
2  *  919  =  1838
2  *  920  =  1840
2  *  921  =  1842
2  *  922  =  1844
2  *  923  =  1846
2  *  924  =  1848
2  *  925  =  1850
2  *  926  =  1852
2  *  927  =  1854
2  *  928  =  1856
2  *  929  =  1858
2  *  930  =  1860
2  *  931  =  1862
2  *  932  =  1864
2  *  933  =  1866
2  *  934  =  1868
2  *  935  =  1870
2  *  936  =  1872
2  *  937  =  1874
2  *  938  =  1876
2  *  939  =  1878
2  *  940  =  1880
2  *  941  =  1882
2  *  942  =  1884
2  *  943  =  1886
2  *  944  =  1888
2  *  945  =  1890
2  *  946  =  1892
2  *  947  =  1894
2  *  948  =  1896
2  *  949  =  1898
2  *  950  =  1900
2  *  951  =  1902
2  *  952  =  1904
2  *  953  =  1906
2  *  954  =  1908
2  *  955  =  1910
2  *  956  =  1912
2  *  957  =  1914
2  *  958  =  1916
2  *  959  =  1918
2  *  960  =  1920
2  *  961  =  1922
2  *  962  =  1924
2  *  963  =  1926
2  *  964  =  1928
2  *  965  =  1930
2  *  966  =  1932
2  *  967  =  1934
2  *  968  =  1936
2  *  969  =  1938
2  *  970  =  1940
2  *  971  =  1942
2  *  972  =  1944
2  *  973  =  1946
2  *  974  =  1948
2  *  975  =  1950
2  *  976  =  1952
2  *  977  =  1954
2  *  978  =  1956
2  *  979  =  1958
2  *  980  =  1960
2  *  981  =  1962
2  *  982  =  1964
2  *  983  =  1966
2  *  984  =  1968
2  *  985  =  1970
2  *  986  =  1972
2  *  987  =  1974
2  *  988  =  1976
2  *  989  =  1978
2  *  990  =  1980
2  *  991  =  1982
2  *  992  =  1984
2  *  993  =  1986
2  *  994  =  1988
2  *  995  =  1990
2  *  996  =  1992
2  *  997  =  1994
2  *  998  =  1996
2  *  999  =  1998

2  *  1000  =  2000

# write a program to find factorial

In [3]:
n = int(input())
fact=1
while(n):
    fact*=n
    n-=1
print(fact," is the factorial of the given number")

12
479001600  is the factorial of the given number

In [9]:
i=1
n = int(input())
while(i<=n):
    count=0
    for j in range(1,i+1):
        if(i%j==0):
            count+=1
    if(count==2):
        print(i)
    i+=1

10
2
3
5
7

In [1]:
1**5

1

In [2]:
5**2

25

In [3]:
5**5

3125

In [4]:
print("hello")

hello